.container_information_principal {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10%;
}

.container_image_principal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_image_principal img{
  width: 75%;
}

.title_principal {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.description_principal {
  color: white;
  font-size: 18px;
  text-align: justify;
}



@media screen and (max-width: 1700px) {
  .container_information_principal {
    background-position: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .container_information_principal {
    background-position: -100px;
  }

  .container_image_principal {
    width: 500px;
  }
}

@media screen and (max-width: 1020px) {

  .container_image_principal {
    display: none;
  }

  .title_principal .description_principal {
    max-width: 600px;
  }
}

@media screen and (max-width: 530px) {
  .title_principal .description_principal {
    max-width: 300px;
  }
}