.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      125deg,
      #00ff57 0%,
      #010033 40%,
      #460043 70%,
      #f0ffc5 100%
    ),
    linear-gradient(55deg, #0014c9 0%, #410060 100%),
    linear-gradient(300deg, #ffc700 0%, #001aff 100%),
    radial-gradient(
      135% 215% at 115% 40%,
      #393939 0%,
      #393939 40%,
      #849561 calc(40% + 1px),
      #849561 60%,
      #eed690 calc(60% + 1px),
      #eed690 80%,
      #ecefd8 calc(80% + 1px),
      #ecefd8 100%
    ),
    linear-gradient(
      125deg,
      #282d4f 0%,
      #282d4f 40%,
      #23103a calc(40% + 1px),
      #23103a 70%,
      #a0204c calc(70% + 1px),
      #a0204c 88%,
      #ff6c00 calc(88% + 1px),
      #ff6c00 100%
    );
  background-blend-mode: overlay, screen, overlay, overlay, normal;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}
