.header {
  color: white;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.container_logo {
  display: flex;
  align-items: center;
}
.title_logo_text {
  font-weight: 800;
  font-size: x-large;
  letter-spacing: 3px;
  padding: 0 15px;
  margin: 0;
}
.container_logo img {
  height: 65px;
}
.container_navegation nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 50px;
  margin: 0;
  padding: 0;
}
.container_navegation nav ul li {
  padding: 0;
}

.container_navegation nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.5s ease-in-out;
}
.container_navegation nav ul li a:hover {
  color: #f72585;
}
.container_navegation nav ul li {
  position: relative;
}
.container_navegation nav ul li a.active {
  color: #f72585;
}
.container_navegation nav ul li a.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f72585;
  animation-name: sub_linear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
.container_navegation nav ul li a:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f72585;
  animation-name: sub_linear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes sub_linear {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    padding: 3%;
  }
  .container_navegation nav ul {
    gap: 15px;
  }
  .container_navegation nav ul li a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
