.header {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.container_logo {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.container_logo img {
  height: 70px;
}

.container_navegation nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 50px;
  margin: 0;
}
.container_navegation nav ul li{
  padding: 0;
}

.container_navegation nav ul li a {
  color: white;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  background-color:black;
  padding: 5px 10px;
  border-radius: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    padding: 3%;
  }
  .container_navegation nav ul {
    gap: 15px;
  }
  .container_navegation nav ul li a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
