.header {
  background-color: #2667ff;
  color: white;
  height: 120px;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_logo{
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}
.container_logo img{
  height: 70px;
}
.container_navegation {
  width: 300px;
}
.container_navegation nav ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_navegation nav ul li a {
  color: white;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  font-weight: 600;
}
.container_navegation nav ul li a{
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}