@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #e5e5e59d;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 2;
}
